services:
  app:
    container_name: mephi-db-generator
    restart: no
    profiles: [ generate ]
    env_file: ".env"
    depends_on:
      database:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile

  database:
    container_name: avito-db
    image: postgres:latest
    restart: no
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: postgres
      POSTGRES_DB: db

    ports:
      - 5432:5432
    volumes:
      - ./docker/pgdata:/var/lib/postgresql/data
    command: >
      -c max_connections=200 
      -c shared_buffers=4GB 
      -c effective_cache_size=12GB 
      -c maintenance_work_mem=1GB 
      -c checkpoint_completion_target=0.9 
      -c wal_buffers=16MB 
      -c default_statistics_target=100 
      -c random_page_cost=1.1 
      -c work_mem=10485kB 
      -c huge_pages=off 
      -c min_wal_size=1GB 
      -c max_wal_size=4GB 
      -c max_worker_processes=4 
      -c max_parallel_workers_per_gather=2 
      -c max_parallel_workers=4 
      -c max_parallel_maintenance_workers=2
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 5s
      timeout: 30s
      retries: 30

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    restart: unless-stopped
    depends_on:
      database:
        condition: service_healthy
    environment:
      PGADMIN_DEFAULT_EMAIL: mephi@localhost.ru
      PGADMIN_DEFAULT_PASSWORD: mephi
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      GUNICORN_ACCESS_LOGFILE: /dev/null
    volumes:
      - ./docker/pgadmin:/var/lib/pgadmin
    ports:
      - 5050:80

volumes:
  mephi-pgadmin: